@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
/**/
body{
    background-color: rgb(239, 247, 255);
    margin: 0px;
}
div#fundo-do-começo{/*Para posicionar o fundo azul corretamente*/
    position: relative;
    height: 90vh;
    width: 100%;
    background-color: #00B9FF;
}
div#onda-do-começo>img{/*Para posicionar a onda corretamente*/
    position: relative;
    width: 100%;
}
div#logo-inicio{/*Para posicionar a logo corretamente*/
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
}
div#botão-do-inicio{/*Para posicionar o botão corretamente*/
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%);
}
div#botão-do-inicio>button{/*Para deixar o botão bonito*/
    height: 50px;
    width: 50vw;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 5px 0px rgb(2, 115, 153);
    background-color: rgb(35, 162, 246);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 1.5em;
}
div#botão-do-inicio>button>p{/*Para tirar a margem do paragrafo do botão*/
    margin: 0px;
}
div#botão-do-inicio>button:hover{/*Para mudar a cor quando passa o mouse por cima*/
    background-color:#00ccff;
}
div#botão-do-inicio>button:focus{ /*Para tirar a borda do botão depois que clica*/
    outline: thin dotted;
    outline: 0px auto;
    outline-offset: 0px;
}