@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@500&display=swap');
body{
    margin: 0px;
    background-color: rgb(242, 242, 242);
}
header>div>img#bolha-logo{
    position: relative;
    width: 11em;
    left: -5em;
    top: -2.5em;
}
header>div>img#logo{
    position: absolute;
    width: 4em;
    left: 0.7em;
    top: 1em;
}
p.paragrafo{
    position: relative;
    text-align: left;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    width: 10em;
    color: rgb(59, 59, 59);
}
header>div>p#paragrafo-inicio{
    top: -6.8em;
    left: 4.5em;
}
header>div>p#paragrafo-secundario{
    top: -2.3em;
    left: 2.9em;
}
header>div>svg{
    position: absolute;
    top: 2.1em;
    right: 6vw;
}
header>div>img#barra-vertical{
    position: absolute;
    top: 8.3em;
    left: 1.5em;
    width: 1.2em;
    height: 7em;
}
header>div>img#bebê{
    position: absolute;
    top: 9em;
    right: 0em;
    width: 10em;
}
main>div.conteudo{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    height: 60vw;
    max-width: 500px;
    max-height: 333px;
    top: 4em;
    margin-top: 15vw;
    background-color: rgba(205, 92, 92, 0);
}
main>div>div{
    position: relative;
    top: 20px;
    width: 100%;
    height: 50vw;
    max-height: 278px;
    background-image: url(resources/anuncio\ largo.jpg);
    background-size: cover;
    background-position: center center;
}
main>div>p.veja-mais{
    position: absolute;
    top: -0.8em;
    right: 0px;
    text-decoration: underline;
}
main>div>div#caixa1{
    background-image: url(resources/anuncio\ largo.jpg);
}
main>div>div#caixa2{
    background-image: url(resources/background\ roupas.jpeg);
}
main>div>div#caixa3{
    background-image: url(resources/background\ fraldas.jpg);
}
main>div>div#caixa4{
    
}
main>div>div#caixa5{
    
}
main>div>div#caixa6{
    
}
main>div>div#caixa7{
    
}
main>div>div#mapa>iframe{
    width: 100%;
    height: 50vw;
}
footer>img{
    position: relative;
    top: -10em;
    width: 100%;
    height: 300px;
}
footer>div#retangulo{
    position: relative;
    top: 30em;
    width: 100%;
    height: 350px;
    background-color:#02b7ff;
}
footer>div>p#titulo-final1{
    position: relative;
    top: 50px;
    color: white;
    text-align: left;
    margin: 0% 10%;
    font-family: 'Fredoka One', cursive;
}
footer>div>p#titulo-final2{
    position: relative;
    top: 100px;
    color: white;
    text-align: left;
    margin: 0% 10%;
    font-family: 'Fredoka One', cursive;
}